.pagination {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn__left {
    background-color: rgb(4, 6, 117);
    color: white;
    border: none;
    outline: none;
    margin-right: 5px;
    padding: 7px;
}

.btn__right {
    background-color: rgb(4, 6, 117);
    color: white;
    border: none;
    outline: none;
    padding: 7px;
}