.rated__card {
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: none;
    width: 250px;
    position: relative;
    min-width: 250px;
    
    box-shadow: 5px 5px 5px 5px rgba(43, 6, 209, 0.3);
    // transition: all ease 0.5s;
    &:hover {
        .rated__title {
            color: rgb(6, 179, 29);
            margin-bottom: 8px;
        }
        .rated__date {
            color: rgb(6, 179, 29);
        }
        .rated__ranking {
            color: white;
            background-color: rgb(6, 179, 29);
        }
        .rated__img {
            transform: scale(1.4);
        }
    }
}
.rated__ranking {
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 0;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgb(240, 43, 9);
}
.rated__title {
    text-align: center;
    color: rgb(240, 43, 9);
    margin-bottom: 8px;
}
.rated__date {
    text-align: center;
    color: rgb(240, 43, 9);
    margin-bottom: 5px;
}
.img__holder {
    overflow: hidden;
    transition: all ease 0.5s;
    width: 100%;
    height: 400px;
    .rated__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        transition: all ease 0.5s;
    }
}