.tv__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}
.info__wrapper {
    margin-top: 30px;
    display: flex;
    margin-bottom: 40px;
}
.info__overview-holder {
    width: 570px;
}
.info__overview {
    margin-bottom: 10px;
}
.info__details {
    width: 570px;
}
.info__title {
    text-align: center;
}
.info__link {
    color: blue;
}
.actor__title {
    text-align: center;
    font-size: 30px;
}
.info__btn {
    background-color: blue;
    border: none;
    outline: none;
    color: black;
    padding: 6px 6px;
    margin-right: 5px;
}
.recommendation__title {
    margin: 35px 0;
    text-align: center;
    font-size: 30px;
}
.tvactors__list {
        width: 1120px;
        height: 250px;
        display: flex;
        overflow: auto;
}